@import "variables";

.options {
  grid-column: 2 / 3;
  padding-block: 10rem;

  &__toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 8rem;

    &--plan {
      font-weight: $font-weight-bold;
      color: rgb(157, 157, 157);
      font-size: 2rem;

      @media only screen and (max-width: $bp-800) {
        font-size: 2.5rem;
      }

      &-active {
        color: $black;
      }
    }

    &--switch {
      border-radius: 5rem;
      width: 50px;
      height: 24px;
      z-index: 1;
      cursor: pointer;
      position: relative;

      @media only screen and (max-width: $bp-700) {
        width: 50px;
      }
    }

    &--input {
      visibility: hidden;
      opacity: 0;
      z-index: -1;
    }

    &--input:checked ~ &--label::before {
      transform: translate(146%, -50%);

      @media only screen and (max-width: $bp-1000) {
        transform: translate(150%, -49%);
      }

      @media only screen and (max-width: $bp-900) {
        transform: translate(153%, -50.5%);
      }
    }

    &--label {
      width: 100%;
      height: 100%;
      display: inline-block;
      border-radius: 5rem;
      background-color: $black;
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      cursor: pointer;

      &::before {
        content: "";
        display: block;
        width: 17.7px;
        height: 17.7px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 0.3rem;
        transform: translateY(-50%);
        background-color: $white;
        transition: all 0.3s;

        @media only screen and (max-width: $bp-800) {
          left: 0.4rem;
        }

        @media only screen and (max-width: $bp-600) {
          left: 0.45rem;
        }
      }
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3rem;

    @media only screen and (max-width: $bp-800) {
      grid-template-columns: 1fr;
      grid-row-gap: 5rem;
    }
  }
}

.option {
  display: grid;
  justify-content: center;
  text-align: center;
  cursor: pointer;

  background-color: rgb(247, 247, 247);
  color: rgb(128, 128, 128);
  padding: 3.5rem;
  transition: all 0.3s;

  @media only screen and (max-width: $bp-1100) {
    padding: 2rem;
  }

  @media only screen and (max-width: $bp-800) {
    grid-template-columns: 0.4fr 0.6fr;
    padding: 4rem;
  }

  @media only screen and (max-width: $bp-mobile) {
    grid-template-columns: 1fr;
    padding: 4rem;
  }

  &__active {
    background-color: $black;
    position: relative;
    transform: scaleY(1.14);

    & > * {
      transform: scaleY(0.8);
    }

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 4px;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(-100%);
      background-image: linear-gradient(
        to top right,
        #ffc593,
        #bc7198,
        #5a77ff
      );
    }

    h2 {
      color: $white;
    }

    p.option__paragraph {
      color: rgba(255, 255, 255, 0.5);
    }

    p.option__price {
      color: $white;

      span {
        color: rgb(128, 128, 128);
      }
    }

    a {
      &:link,
      &:visited {
        background-color: $white;
        color: $black;
        transition: all 0.2s;
      }

      &:hover {
        background-color: rgb(224, 224, 224);
      }
    }
  }

  &__heading {
    color: $black;
    margin-bottom: 2.5rem;

    @media only screen and (max-width: $bp-1100) {
      margin-bottom: 1.4rem;
    }

    @media only screen and (max-width: $bp-800) {
      grid-column: 1 / 2;
      text-align: start;
      font-size: 3rem;
    }

    @media only screen and (max-width: $bp-mobile) {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      text-align: center;
    }
  }

  &__paragraph {
    margin-bottom: 4rem;

    @media only screen and (max-width: $bp-1100) {
      margin-bottom: 2rem;
      font-size: 1.3rem;
    }

    @media only screen and (max-width: $bp-800) {
      grid-column: 1 / 2;
      text-align: start;
      font-size: 1.5rem;
    }

    @media only screen and (max-width: $bp-mobile) {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      text-align: center;
    }
  }

  &__price {
    color: $black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3.5rem;
    font-weight: $font-weight-bold;
    margin-bottom: 4rem;

    @media only screen and (max-width: $bp-1100) {
      margin-bottom: 2rem;
    }

    @media only screen and (max-width: $bp-800) {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
      justify-self: end;
      align-self: start;
    }

    @media only screen and (max-width: $bp-mobile) {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
      justify-self: center;
    }

    span {
      color: rgb(128, 128, 128);
      font-size: 1.3rem;
      font-weight: $font-weight-regular;
      margin-top: 0.5rem;
    }
  }

  &__button {
    @media only screen and (max-width: $bp-800) {
      grid-column: 1 / 2;
    }

    @media only screen and (max-width: $bp-mobile) {
      grid-column: 1 / 2;
      grid-row: 4 / 5;
      text-align: center;
    }
  }
}
